modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 25006
externalPort = 3000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BM3Vqfubxv1UvkT0Pkht9p7RtfbKuMw8bih3qQYw7xx1qaAl9glH16Nx-vMJYBxbu3I7nBUFkg282ShAf6JgeBE"
VAPID_PRIVATE_KEY = "OLaQ0N8W__gu4HUU33MQojNdZ3C7vrvjF2UrLoN59n0"
VAPID_SUBJECT = "mailto:admin@rute.app"
