modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 25006
externalPort = 3000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BKX3Du768F8Lqa8kBUKFEP-2CXUeUVB4xMiXi_lvbz84Y5WO-kG0TupnUFET7PwgzwaI2WmjITqWU6b8PkqxMcE"
VAPID_PRIVATE_KEY = "HeqMd6MkHUkNkvjfixep9GPEWg3u4KPITui1akfBOM8"
VAPID_SUBJECT = "mailto:admin@rute.app"
CLOUDINARY_CLOUD_NAME = "ddgopl2rz"
CLOUDINARY_API_KEY = "169778329981819"
CLOUDINARY_API_SECRET = "oeHY6EqHFnUp7"
FONNTE_TOKEN = "rbveyb3ueQRKR2MSXKae"
RAILWAY_DATABASE_URL = "postgresql://postgres:nPfXMJVgTpsBShiNQHlRegjmpYmIInpt@yamabiko.proxy.rlwy.net:47329/railway"
